# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Java Binary Files
*.jar
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Directory-based project format:
.idea/*
*.iml

# IntelliJ File-based project format:
*.iws

# IntelliJ output
/out/
target/*

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
